{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h2 class="text-center">Profile</h2>
        <p style="text-align: center;">
            <img src="{{ img_src }}" style="height: 200px; weight: 200px;" alt="">
        </p>
        <p class="text-center">Фамилия Имя: {{ current_user.name }} {{ current_user.surname }}</p>
        <p class="text-center">Возраст: {{ current_user.age }} лет</p>
        <p class="text-center">Почта: {{ current_user.email }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-primary" href="/edit_profile">Edit</a>
            <a class="btn btn-danger" href="/logout">Exit</a>
            <a class="btn btn-outline-danger" href="/delete_cur_user">Delete</a>
        </div>
    {% else %}
        <h1>Вы не вошли в аккаунт</h1>
    {% endif %}
{% endblock %}